$white: #ffffff;
$blue-light: #0047ba;
$blue-dark: #2c4062;
$font-main: 1rem;

.contact {
  width: 100%;
  overflow-x: hidden;
}

.c-top {
  height: 40vh;
  width: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.66)),
    url("../../assets/contactBackground.jpg");

  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    color: $white;
  }
}

.c-bot {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60vh;
  background-color: #fff;
}

.c-left {
  width: 40%;
  padding: 3rem;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: $blue-dark;
  }

  span {
    color: $blue-light;
    text-decoration: underline;
  }

  p {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.6;
  }

  p strong {
    color: $blue-dark;
    font-weight: 500;
  }

  #contact-span {
    display: inline-block;

    a {
      color: $blue-light;
      text-decoration: none;
    }
  }

  .c-socials {
    margin-top: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 5rem;
      height: auto;
      border-radius: 15px;
      transition: 0.3s ease;

      &:hover {
        transform: translateY(-5px);
      }
    }
    #gh {
      margin-left: 2rem;
    }
  }
}

.c-right {
  width: 40%;
  padding: 3rem;

  h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: $blue-dark;
  }

  .c-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    input,
    textarea {
      background: transparent;
      border: none;
      border-bottom: 1px solid $blue-dark;
      outline: none;
      padding: 0.75rem 0;
      font-size: 1rem;
    }

    input::placeholder,
    textarea::placeholder {
      //color: rgba(255, 255, 255, 0.7);
    }

    textarea {
      min-height: 150px;
      resize: vertical;
      border-bottom: 1px solid $blue-dark;
    }

    button {
      padding: 1rem 3.1rem;
      border: none;
      border-radius: 0.75rem;
      background: $blue-dark;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}

[data-animate="fadeLeft"] {
  opacity: 0;
  transform: translateX(-2.5rem);

  &.active {
    animation: fadeLeft 2.5s ease forwards;
  }
}

[data-animate="fadeRight"] {
  opacity: 0;
  transform: translateX(2.5rem);

  &.active {
    animation: fadeRight 2.5s ease forwards;
  }
}

[data-animate="FadeIn"] {
  opacity: 0;

  &.active {
    animation: fadeIn 2s ease forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(25rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-25rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1440px) {
  .c-bot {
    justify-content: space-between;
    padding: 0rem clamp(1rem, 4.5%, 5rem);
  }

  .c-left {
    width: 60%;
    h2 {
      font-size: 2.3rem;
    }

    p {
      font-size: 1.1rem;
    }

    .c-socials {
      img {
        width: 4rem;
      }
    }
  }

  .c-right {
    h2 {
      font-size: 2.3rem;
    }

    .c-form {
      gap: 1.3rem;

      input,
      textarea {
        font-size: 1rem;
      }
      textarea {
        min-height: 130px;
      }

      button {
        padding: 0.8rem 3rem;
        font-size: 1.1rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .c-top {
    height: 35vh;
    h1 {
      font-size: 3.3rem;
    }
  }

  .c-bot {
    flex-direction: column;
    height: auto;
  }

  .c-left,
  .c-right {
    width: 100%;
    padding: 2rem;
    h2 {
      font-size: 2.3rem;
    }
  }

  .c-left {
    position: relative;

    p {
      font-size: 1.2rem;
    }
    .c-socials {
      position: absolute;
      top: 56%;
      left: 430px;

      img {
        width: 2.3rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .c-top {
    height: 35vh;
    h1 {
      font-size: 3rem;
    }
  }
  .c-bot {
    flex-direction: column;
    height: auto;
  }

  .c-left,
  .c-right {
    width: 100%;
    padding: 2rem;
    h2 {
      font-size: 2.5rem;
    }
  }

  .c-left {
    position: relative;

    p {
      font-size: 1.1rem;
    }
    .c-socials {
      position: absolute;
      top: 56%;
      left: 390px;

      img {
        width: 2.3rem;
      }
    }
  }
}

@media (max-width: 540px) {
  .c-top {
    height: 35vh;
    h1 {
      font-size: 2.7rem;
    }
  }
  .c-bot {
    flex-direction: column;
    height: auto;
  }

  .c-left,
  .c-right {
    width: 100%;
    padding: 2rem;
    h2 {
      font-size: 2.2rem;
    }
  }

  .c-left {
    position: relative;

    p {
      font-size: 1rem;
    }
    .c-socials {
      position: absolute;
      top: 70%;
      left: 35px;

      img {
        width: 2rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .c-top {
    height: 30vh;

    h1 {
      text-align: center;
      font-size: 2.2rem;
    }
  }

  .c-bot {
    flex-direction: column;
    height: auto;
  }

  .c-left,
  .c-right {
    width: 100%;
    padding: 2rem;
    h2 {
      font-size: 1.7rem;
    }
  }

  .c-right {
    margin-top: 50px;
  }

  .c-left {
    position: relative;

    p {
      display: flex;
      flex-direction: column;
      font-size: 1rem;

      strong {
        font-size: 1.1rem;
      }
    }

    .c-socials {
      position: absolute;
      top: 78%;
      left: 35px;

      img {
        width: 2rem;
      }
    }
  }
}

@media (min-width: 1600px) {
  .c-bot {
    gap: 5rem;
  }
}

@media (min-width: 2000px) {
  .c-top {
    height: 40vh;

    h1 {
      font-size: clamp(5rem, 6vw, 8rem);
    }
  }

  .c-bot {
    height: 55vh;
    max-width: 2200px;
    margin: 0 auto;
  }

  .c-left {
    width: 40%;

    h2 {
      font-size: clamp(3rem, 4vw, 4.5rem);
      margin-bottom: 2.5rem;
    }

    p {
      font-size: 1.8rem;
      line-height: 1.8;

      strong {
        font-size: 1.9rem;
      }
    }

    .c-socials {
      margin-top: 8rem;
      gap: 3rem;

      img {
        width: 6rem;
        border-radius: 20px;
      }
    }
  }

  .c-right {
    width: 40%;

    h2 {
      font-size: clamp(3rem, 4vw, 4.5rem);
    }

    .c-form {
      input,
      textarea {
        font-size: 1.6rem;
        padding: 1.5rem 0;
        border-bottom-width: 2px;
      }

      textarea {
        min-height: 250px;
      }

      button {
        padding: 1.5rem 5rem;
        font-size: 1.8rem;
      }
    }
  }
}
